
<div style="text-align: center;">
  <h2><i class="fas fa-video"></i>&nbsp;<%= "面談動画" %></h2>
</div>

<div class="movie container" style="text-align: center;">
  <div class="row">
    <div id="movie__index" class="col align-self-center">
      <div id="next-movies">
        <%= render 'next_movies' %>
      </div>
    </div>
  </div>
</div>
