<div class="main top-main">
  <div class="align-top"><%= render 'shared/flash_messages' %></div>
  <div class="top-message">
    <h1>Engineer Interview App</h1>
    <p>ウェブエンジニア面談練習アプリ</p>
  </div>
</div>