// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 動画
.movie {
  @extend .content-width;
  @extend .mb-lg;
  @extend .flex;

  &__inner {

    &__item {
      position: relative;
      // width: 100%;
      height: 0;
      padding-top: 30%;
    }
    
    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      // width: 100% !important;
      width: -webkit-fill-available !important;
      // height: 100% !important;
    } 
  }
}
