<header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <%= link_to "面談練習アプリ", root_path, id: "logo" %>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
            管理者はこちら
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <% if !user_signed_in? %>
              <li><button class="dropdown-item" type="button"><%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %></button></li>
            <% else %>
              <li><button class="dropdown-item" type="button">Something else here</button></li>
              <li><button class="dropdown-item" type="button"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></button></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
